@import './partials/colors';

.rsvp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  form {
    min-width: 500px;
  }

  .answer {
    margin: 1rem 0;
  }

  .small {
    color: $txt-secondary;
  }
}
