@import "./icons";
@import "./bootstrap";
// Google Fonts
//@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
//@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700,700italic);
//@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
// Imports
//@import "compass";
@import "partials/typography";
@import "partials/buttons";
@import "partials/colors";
@import "./save-the-date";
@import "./rsvp";
@import "./dress-code";
@import "./gift";

body, html {
  height: 100%;
  width: 100%;
  position: absolute;
  background: repeat url(../img/bg.jpg);
  font-family: tekton, sans-serif;
}

$navbar-height: 62px;
$divider-size: 3.6rem;
$divider-margins: 2rem;

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#logo {
  height: 3rem;
}

.anchor {
  padding-top: $navbar-height * 1.1;
}

h2 {
  margin: 2rem 0;
  position: relative;
  padding: 0 ($divider-size * 2.5);

  &:before {
    position: absolute;
    left: 0;
    content: '';
    margin-right: $divider-margins;
    height: $divider-size;
    width: $divider-size * 2;
    background: url('../img/bamboo_green_left.png') no-repeat left;
    background-size: (2 * $divider-size) ($divider-size);
    transform: rotate(-15deg);
  }

  &:after {
    position: absolute;
    right: 0;
    content: '';
    margin-left: $divider-margins;
    height: $divider-size;
    width: $divider-size * 2;
    background: url('../img/bamboo_green_right.png') no-repeat right;
    background-size: (2 * $divider-size) ($divider-size);
    transform: rotate(15deg);
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

form:not(.pristine) input:invalid {
  border-color: $danger;
  box-shadow: 0 0 0 0.2rem transparentize($danger, 0.7);
  outline-color: $danger;
}

.subtitle {
  color: $txt-primary;
}

.footer {
  height: 2rem;
}

.code-invalid {
  .if-valid-code {
    display: none;
  }
}

*::placeholder {
  color: $form-placeholder !important;
}

a {
  color: $txt-secondary;
  text-decoration: underline;
}

a:hover {
  color: $txt-secondary-lighter;
}
