// Colours partial

// Text colours
$txt-primary: #000000;
// body font
$txt-secondary: #30685D;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #ACB1B4;
$form-placeholder: #495061;
// form placeholder text
// Global colours
$accent-color: #e8ca6f;
// global accent colour
$accent-color-hover: #d3b56a;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #3D4351;
$h3-color: #3D4351;
$h5-color: #3D4351;
// Layout colours
$section-light: #fff;
$section-dark: #f8f9fd;
$to-top-bg: #495061;
$footer-primary: #3D4351;
$footer-secondary: #373D4A;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;

.gray {
  color: $form-placeholder;
}

.green {
  color: $txt-secondary;
}
